/* 
* author: AdvoidhB
* for: "Travelogue TM"
* date: 20-aug-2022
*/
* {
    box-sizing: border-box;
  }
  ::-webkit-scrollbar, ::-moz-scrollbar, ::scrollbar {
    opacity: 0;
    display: none;
  }
  :root {
    --bg: #f4f1f1;
    --cardbg: #f8f7f8;
    --defcol: #05445e;
    --textcol: #757785;
    --f-white: #fffeff;
    --bg-white: #fefefe;
    --sub-white: #efefff;
    
    --deffont: "Figtree", sans-serif;
  }
  body {
    font: 400 14px var(--deffont);
    background: var(--bg);
    color: var(--textcol);
    margin: 0;
    padding: 0;
  }
  section.form-sec {
    width: 100%;
    padding: 0.6rem 2.2rem;
  }
  div.form-title {
    padding: 0.6rem;
    margin-bottom: 0.8rem;
    text-align: center;
  }
  h2.form-title-h {
    font-weight: 300;
    color: #333;
  }
  div.form-cont {
    background: pink;
    width: 35%;
    padding: 0.6rem;
    margin: auto;
  }
  form.signup {
    font-size: inherit;
  }
  input[type="text"] {
    min-width: 60%;
    padding: 10px 20px;
    margin: 0 auto 1.2rem;
  }
  .create-acc-btn { 
    min-width: 60%;
    width: 60%;
    margin: auto;
    color: var(--sub-white);
    background: var(--defcol);
    padding: 10px 20px;
    font-size: 0.9rem;
  }
  input[type="text"], .create-acc-btn {
    display: block;
    border: none;
  }
@media (max-width: 700px) {
  div.form-cont {
    width: 80%;
  }
  input[type="text"], .create-acc-btn {
    width: 100%;
    min-width: 100%;
  }
  }