/* 
* author: AdvoidhB
* for: "Travelogue TM"
* date: 20-aug-2022
*/
* {
  box-sizing: border-box;
}
::-webkit-scrollbar, ::-moz-scrollbar, ::scrollbar {
  opacity: 0;
  display: none;
}
:root {
  --bg: #f4f1f1;
  --cardbg: #f8f7f8;
  --defcol: #05445e;
  --textcol: #757785;
  --f-white: #fffeff;
  --bg-white: #fefefe;
  --sub-white: #efefff;
  
  --deffont: "Figtree", sans-serif;
}
/* material icons fix */
.mi-n {
  padding-top: 3.6px;
}
body {
  font: 400 14px var(--deffont);
  background: var(--bg);
  color: var(--textcol);
  margin: 0;
  padding: 0;
}

header {
  padding: 0.6rem 2.2rem;
  margin-top: 0;
  background: var(--bg-white);
  box-shadow: 0px 2px 10px rgba(100, 100, 100, 0.1);
}
/* flexset 1 */
nav.nav-panel, div.logo-container, div.top-nav, div.avatar {
  display: flex;
  align-items: center;
}
nav.nav-panel {
  width: 100%;
  background: none;
  justify-content: space-between;
}
div.logo-container {
  height: 40px;
  color: #1add9f;
}
a.logo {
  font: 100 16pt var(--deffont);
  text-decoration: none;
  color: var(--defcol);
}
div.nav-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.top-nav {
  min-width: 32%;
  padding: 0;
  margin: auto;
  justify-content: flex-end;
}

div.top-nav > a {
 text-decoration: none; 
 color: var(--textcol);
 font-size: 0.8rem;
 margin: 0 1.2rem;
 padding: 0.6rem;
}
div.top-nav > a:hover, div.top-nav > a:active  {
  border-bottom: 2px solid var(--defcol);
  color: var(--defcol);
}
div.avatar {
  width: 46px;
  height: 46px;
  padding: 0;
  
  justify-content: center;
}
.avatar-ico {
  transform: scale(2.2);
}
.avatar > img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: none;
}
/* flexset 1 end */

section {
  padding: 0 2rem 1.6rem;
  
}
/* flexset 2 */
div.search-items, div.suggestions, .sugg-links, div.search {
  display: flex;
  align-items: center;
}
div.search-items {
  width: 100%;
  margin-top: 1.6rem;
  
  flex-direction: row;
  justify-content: space-between;
}
div.suggestions {
  justify-items: flex-start;
  width: 50%;
  overflow-x: hidden;
  padding: 0.8rem 0;
  
}
.categ {
  padding-right: 0.8rem;
  display: none;
}
.sugg-links {
  min-width: 100px;
  height: 50px;
  margin-right: 0.8rem;
  position: relative;
  justify-content: center;
  box-shadow: 0px 2px 8px rgba(100, 100, 100, 0.4);
}
.sugg-links .label {
  position: absolute;
  z-index: 1;
  color: #f1f1f1;
  text-shadow: 2px 1px 6px rgba(1, 1, 1, 0.4);
  letter-spacing: 1px;
}
.sugg-links > img {
  width: 100%;
  height: 100%;
  user-select: none;
}
div.search {
  max-width: 32%;
  justify-content: flex-end;
}
/* flexset 2 end */
input.srch-bar {
  padding: 0.6rem 1.2rem;
  min-width: 80%;
  background: var(--bg);
  font: 400 1rem var(--deffont);
  color: var(--textcol);
  border: 2px solid #189ab4;
}
input.srch-bar, button.srch-sub {
  min-height: 48px;
  max-height: 48px;
  
}
input.srch-bar::placeholder {
  font-size: 1rem;
  color: #189ab4;
}
button.srch-sub {
  border: none;
  padding: 0.4rem;
  margin-left: 0.2rem;
  min-width: 48px;
  background: #189ab4;
  color: var(--sub-white);
  border: none;
}
.srch-ic {
  font-size: 1.6rem;
}
section.sec-2 {
  width: 100%;
  padding: 0 2rem 0;
}
div.recc-title {
  margin: 0;
  width: 100%;
}
div.cards-container {
  background: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0.8rem 0;
}
div.cards {
  background: #00000000;
  width: 28%;
  position: relative;
  margin-bottom: 0.8rem;
}
div.cards:hover {
  opacity: 0.8;
}
div.cards > img {
  width: 100%;
  height: auto;
  margin: 0;
  box-shadow: 1px 2px 12px rgba(1, 1, 1, 0.2);
}
div.card-action {
  position: absolute;
  bottom: 0.6rem;
  left: 0;
  width: 100%;
  padding: 0 0.8rem;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
}
div.loc-details {
  color: #fefeff;
}
div.loc-details > p, div.loc-details > span {
  text-shadow: 1px 2px 8px rgba(1, 1, 1, 0.6);
}
div.loc-details > p {
  color: var(--defcol);
  font: 600 0.8rem var(--deffont);
  margin: 0 0 0.2rem;
  color: #fafafa;
}
div.loc-details > span {
  font-size: 0.6rem;
  display: block;
  margin: 0;
  color: #efefef;
}

.star {
  padding: 0.6rem 0.2rem;
  opacity: 0.5;
  color: #efefef;
}
.star:hover {
  opacity: 1;
  
}
div.view-more-cont {
  width: 100%;
  
}
a.view-more {
  display: block;
  margin: auto;
  text-decoration: none;
  padding: 12px 20px;
  width: 30%;
  color: var(--defcol);
  border: 1px solid var(--defcol);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mi-arrow {
  outline: none;
}

article.news-arti {
  margin-top: 3.2rem;
}
/* flexbox items after article */
div.news-content-1, .loc-det-cont, #location-a, .gallery-link   {
  display: flex;
  align-items: center;
}
div.news-c-t {
  padding: 0 2rem;
}
div.news-c-t > h1 {
  font: 300 1.4rem var(--deffont);
  margin: 0 0 0.8rem;
  color: var(--defcol);
}
div.news-content-1 {
  width: 100%;
  padding: 0 2rem;
  background-image: url(./images/news-img-2.jpeg);
  background-size: cover;
  background-position: center;
  flex-flow: column wrap;
  justify-content: center;
  max-height: 400px;
  min-height: 340px;
  width: 100%;
}
.loc-det-cont {
  width: 44%;
  margin-bottom: 0.8rem;
}
#location-a {
  justify-content: center;
  font-size: 1.4rem;
  text-decoration: none;
  text-align: center;
  color: var(--bg-white);
  padding: 10px 28px;
  width: 100%;
  background: #11111140;
}
#loc-city {
  font-size: 1.4rem;
  color: var(--f-white);
}
#loc-country {
  padding: 0 2rem;
  font-size: 1rem;
  color: var(--sub-white);
  padding: 0.26rem 0 0 0.4rem;
}

i.loc-ico {
  font-size: 2.6rem;
  color: var(--f-white);
}
.gallery-cont {
  width: 44%;
}
.img-cont {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
a.gallery-link {
  width: 150px;
  height: 150px;
  justify-content: center;
  font-size: 1.2rem;
  background: #11111160;
  text-decoration: none;
  text-align: center;
  position: absolute;
  right: 0;
  z-index: 1;
  color: var(--bg-white);
}
mi-img {
  font-size: 2.2rem;
}
.img-cont > img {
  width: 150px;
  height: 150px;
  opacity: 0.9;
}
footer {
  background: #11171F;
  padding: 1.6rem 2rem;
}
div.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-links, .contact-links {
  width: 48%;
  background: none;
  display: flex;
  align-items: center;
}
.social-links {
  justify-content: flex-start;
}
.contact-links {
  justify-content: flex-end;
}
.social-links > a, .contact-links > a {
  padding: 0.6rem;
  text-decoration: none;
  color: var(--sub-white);
  display: flex;
  align-items: center;
}
.fab {
  font-size: 1.4rem;
}
.foot-ic {
  margin-right: 0.2rem;
}
/* .contact-links > a {} */
/* beta */
input.ip-txt, #submit {
  margin: auto;
  padding: 10px 20px;
  border: 1px solid #333;
  display: block;
  min-width: 260px;
  max-width: 260px;
}
@media (max-width: 670px) {
  .mic-n {
    font-size: 1.4rem;
  }
  header {
    padding: 0.6rem 1.6rem;
    margin-top: 1.6rem;
    background: none;
    box-shadow: none;
  }
  
  div.logo-container {
    min-width: auto;
  }
  
  div.top-nav {
    display: none;
  }

section.sec-1 {
  padding: 0 1.6rem;
  margin-top: 1.6rem;
}
  
div.search-items {
  flex-direction: column-reverse;
}
div.suggestions {
  margin-top: 1.6rem;
  width: 100%;
}
div.search {
  min-width: 100%;
  padding: 0;
}

input.srch-bar {
  width: 100%;
  max-height: 42px;
}
button.srch-sub {
  padding: 0.6rem;
  width: 42px;
  height: 42px;
}
section.sec-2 {
  margin-top: 1.6rem;
  padding: 0 1.6rem;
}
div.cards-container {
  flex-flow: column wrap;
}
div.cards {
  width: 100%;
}
div.loc-details > p {
  font: 600 1rem var(--deffont);
}
div.loc-details > span {
  font-size: 0.8rem;
}
a.star {
  text-decoration: none;
}
a.view-more {
  width: 100%;
}
article.news-arti {
  margin-top: 3.2rem;
}
div.news-c-t {
  padding: 0 1.6rem;
}
div.news-content-1 {
  max-height: 300px;
  min-height: 300px;
  padding: 0;
  flex-flow: column wrap;
  justify-content: center;
}
.loc-det-cont, .gallery-cont {
  width: 100%;
  padding: 0 1.6rem;
}
.img-cont {
  width: 100%;
  overflow: hidden;
}
.img-cont > img, a.gallery-link {
  max-width: 90px;
  max-height: 90px;
}
footer {
  padding: 1.6rem 1rem;
}
.social-links, .contact-links {
  width: auto;
  }
}
