/* *****************************
   * Author: Advoidh B
   * for: Travelogue(TM) 
   * Date: 29-10-2022
***************************** */
* {
  box-sizing: border-box;
}

/* #### hide Scrollbars ####
html {
  scrollbar-width:  none;
  -ms-overflow-style: none;
} 
::scrollbar, ::-webkit-scrollbar {
  display: none;
}
*/

:root {
  --fwhite: #fffeff;
  --accent: #05445e;
  --green: #4c6;

  --bg: #dededf;
  --bgwhite: #fefeff;
  --cardbg: #f8f7f8;
  --carddark: #262b36;

  --textsub: #757785;
  --textwhite: #efefff;
  --textdark: #38383f;
  --fontdef: "Figtree", sans-serif;
}
/* material icons fix */
.mi-n {
  padding-top: 3.6px;
}
html {
  font: 400 15px var(--fontdef);
}
body {
  display: grid;
  grid-template: "hd hd hd hd" auto
                  "mn mn mn mn" auto
                  "ft ft ft ft" auto 
                  / 1fr 1fr 1fr 1fr;

  background: var(--bg);
  color: var(--textsub);
  margin: 0;
  padding: 0;
}

header {
  grid-area: hd;
  padding: 0.6rem 2.2rem;
  margin-top: 0;
  background: var(--bgwhite);
}
header a {
  text-decoration: none;
}
/* flexset 1 */
nav.nav-panel, div.logo-container, div.top-nav {
  display: flex;
  align-items: center;
}
nav.nav-panel {
  width: 100%;
  background: none;
  justify-content: space-between;
}
div.logo-container {
  height: 40px;
  color: #1add9f;
}
a.logo {
  font: 600 18pt var(--fontdef);
  color: var(--accent);
}
div.nav-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.top-nav {
  min-width: 32%;
  padding: 0;
  margin: auto;
  justify-content: flex-end;
}

div.top-nav > a {
 color: var(--textsub);
 font-size: 0.8rem;
 margin: 0 1.2rem;
 padding: 0.6rem;
}
div.top-nav > a:hover, div.top-nav > a:active  {
  border-bottom: 2px solid var(--accent);
  color: var(--accent);
}
div.avatar {
  width: 46px;
  height: 46px;
  padding: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.avatar-ico {
  transform: scale(2.2);
  display: none;
}
.avatar > img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  display: block;
}
/* flexset 1 end */

aside, div.account-card, .acc-link, .acc-avatar {
  display: flex;
}
aside {
  grid-area: as;
  background: var(--bg);
  flex-flow: column wrap;
  box-shadow: 0px 2px 10px rgba(100, 100, 100, 0.2);  
}
aside a {
  text-decoration: none;
}
div.aside-cont {
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: var(--carddark);
}
div.account-card {
 width: 100%;
 background: var(--accent);
 padding: 2.0rem 0.8rem;
 justify-content: center;
}
.acc-link {
  text-decoration: none;
  color: var(--textwhite);
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}
.avatar-title {
  margin-top: 0.8rem;
  font: 500 1rem var(--fontdef);
  display: block;
}
.acc-avatar {
  background: transparent;
  max-width: 4.0rem; 
  max-height: 4.0rem;
  height: 4.0rem;
  width: 4.0rem;
  border-radius: 50px;
}
img.user-dp {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
div.nav-cont {
  background: var(--carddark);
  position: relative;
  width: 200px;
  max-width: 200px;
}
div.nav-cont  > a {
    padding: 0.6rem 1.2rem;
    font: 400 1rem var(--fontdef);
    background: none;
    color: var(--textwhite);
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0.8rem 0 0;
}
a.ad {
  display: flex;
}
div.nav-cont > a:hover,
div.nav-cont > a:focus {
  opacity: 0.6;
}

.nav-label {
  margin-left: 0.6rem;
}
/* Uniserval <main> */
main {
  grid-area: mn;
  margin: 0;
  padding: 0;
}
/* Uniserval <section> */
section.service-opt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  border: 1px solid #ccc;
  margin: 1.2rem 2.0rem;
}
section.sec-2 {
  width: 100%;
  padding: 0 2.0rem 2.0rem;
}
div.recc-title {
  margin: 0;
  width: 100%;
  color: #2b8;
}

/* cards */
div.cards-container {
  background: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0.8rem 0;
}
div.cards {
  background: #00000000;
  width: 24%;
  position: relative;
  margin: 0.4rem;
}
div.cards:hover {
  opacity: 0.8;
}
div.cards > img {
  width: 100%;
  height: auto;
  margin: 0;
  box-shadow: 1px 2px 12px rgba(1, 1, 1, 0.2);
}
div.card-action {
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 100%;
  padding: 0 0.8rem;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  background: var(--cardbg);
}
div.loc-details {
  color: var(--textsub);
}
div.loc-details > p {
  color: var(--textsub);
  font: 400 1.0rem var(--fontdef);
  margin: 0 0 0.2rem;
}
div.loc-details > span {
  font-size: 0.88rem;
  display: block;
  margin: 0;
  color: var(--green);
}

.go-website, section.service-opt > a {
  text-decoration: none;
  background: none;
  padding: 0.4rem;
  text-align: center;
  border: 0.22px solid var(--textsub);
  border-radius: 2pt;
  color: var(--accent);
  font-size: 0.8rem;
}
.star {
  padding: 0.6rem 0.2rem;
  opacity: 0.5;
  color: #efefef;
}
.details-col {
  display: flex;
  flex-flow: column wrap;
  padding: 0.6rem;
  background: pink;
}


footer {
  width: 100%;
  grid-area: ft;
  background: #11171F;
  padding: 1.6rem 2.2rem 4.4rem;
}
div.foot-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-links, .contact-links {
  width: 48%;
  background: none;
  display: flex;
  align-items: center;
}
.social-links {
  justify-content: flex-start;
}
.contact-links {
  justify-content: flex-end;
}
.social-links > a, .contact-links > a {
  padding: 0.6rem;
  text-decoration: none;
  color: var(--textsub);
  display: flex;
  align-items: center;
}
div.foot-contact a:hover {
  color: var(--bg);
}
.foot-ic {
  margin-right: 0.2rem;
}
.contact-links > a {
  font-size: inherit;
}

@media (max-width: 762px) {
  .mic-n {
    font-size: 1.4rem;
  }
  html {
    font: 400 14px var(--fontdef);
  }
  body {
   display: grid;
   grid-template: "hd hd hd hd" auto
                  "mn mn mn mn" auto
                  "as as as as" auto
                  "ft ft ft ft" auto
                  / 1fr 1fr 1fr 1fr;
  }
  header {
    padding: 0.6rem 1.6rem;
    margin-top: 1.6rem;
    background: none;
    box-shadow: none;
  }
  div.avatar {
    display: flex;
  }
  aside {
    background: var(--carddark);
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
  }
  div.account-card {
    display: none;
  }
  div.nav-cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    background: var(--carddark);
  }
  div.nav-cont  a{
    width: auto;
    flex-flow: column wrap;
    justify-content: center;
    margin: 0;
    background: transparent;
    color: var(--textwhite);
  }
  a.ad {
    display: none;
  }
  .nav-label {
    display: block;
    font-size: 0.6rem;
    margin: 0;
  }

  div.logo-container {
    min-width: auto;
  }
  
  div.top-nav {
    display: none;
  }

section.sec-1 {
  padding: 0 1.6rem;
  margin-top: 1.6rem;
}
  
section.sec-2 {
  margin: 1.6rem 0 2.0rem;
  padding: 0 1.6rem;
}
div.cards-container {
  flex-flow: column wrap;
}
div.cards {
  width: 100%;
}
div.loc-details > p {
  font: 500 1rem var(--fontdef);
}
div.loc-details > span {
  font-size: 0.8rem;
}

a.view-more {
  width: 100%;
}

footer {
  padding: 1.6rem 1rem 6.6rem;
}
div.foot-contact {
  flex-flow: column wrap;
  justify-content: flex-start;
}

.social-links {
  width: 100%;
  justify-content: space-between;
  }
.contact-links {
  justify-content: flex-start;
  width: 100%;
  margin-top: 1.2rem;
}
}

/* ****** Tablets and wider scrns ****** */

@media screen and (min-width: 762px) and (max-width: 990px) {
  body {
    display: grid;
    grid-template: "hd hd hd hd" auto
    "mn mn mn mn" auto
    "ft ft ft ft" auto 
    / 1fr 1fr 1fr 1fr;
    font: 400 14px var(--fontdef);
  }
  div.avatar {
    display: none;
  }
  div.img-cont > img {
  max-width: 30%;
  max-height: 30%;
  height: 30%;
  width: 30%;
}
.gallery-link {
  height: 100%;
  width: 30%;
  font-size: 1.2rem;
}
mi-img {
  font-size: 1.2rem;
}
div.nav-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}
div.cards {
  width: 20%;
}
a.ad {
  display: none;
}
div.loc-det-cont, div.gallery-cont {
  width: 60%;
}
div.loc-details > p {
  font: 400 1.0rem var(--fontdef);
}
}
