* {
    box-sizing: border-box;
  }
  ::-webkit-scrollbar, ::-moz-scrollbar, ::scrollbar {
    opacity: 0;
    display: none;
  }
  :root {
    --bg: #f4f1f1;
    --cardbg: #f8f7f8;
    --defcol: #05445e;
    --textcol: #757785;
    --f-white: #fffeff;
    --bg-white: #fefefe;
    --sub-white: #efefff;
    
    --deffont: "Figtree", sans-serif;
  }
  /* material icons fix */
  .mi-n {
    padding-top: 3.6px;
  }
  body {
    display: grid;
    grid-template: "head head head" 10vh
    "sec1 sec1 sec1" 80vh
    "foot foot foot" 10vh / 
    auto auto auto;
    font: 400 14px var(--deffont);
    background-image: url(../images/hero-img.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--textcol);
    margin: 0;
    padding: 0;
  }
  
  header {
    grid-area: head;
    padding: 0.6rem 2.2rem;
    margin-top: 0;
    box-shadow: 0px 2px 10px rgba(100, 100, 100, 0.1);
  }
  /* flexset 1 */
  nav.nav-panel, div.logo-container, div.avatar {
    display: flex;
    align-items: center;
  }
  nav.nav-panel {
    width: 100%;
    background: none;
    justify-content: space-between;
  }
  div.logo-container {
    height: 40px;
    color: #1add9f;
  }
  a.logo {
    font: 600 20pt var(--deffont);
    text-decoration: none;
    color: var(--f-white);
  }
  div.nav-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  div.avatar {
    width: 46px;
    height: 46px;
    padding: 0;
    justify-content: center;
  }
  .avatar-ico {
    transform: scale(2.0);
    color: var(--sub-white);
  }
  .avatar > img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: none;
  }
  aside.sidebar {
    position: fixed;
    right: 0;
    z-index: 99;
    height: 100vh;
    width: 32%;
    background: #ffffff70;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
  }
  div.nav-cls-div {
    width: 100%;
    padding: 0.8rem;
    background: #000;
  }
  div.form-title-div {
    border: 1px solid #333;
  }
  div.form-title-div > h1 {
    color: #222;
  }
  div.sidebar-form-cont {
    width: 100%;
    min-height: 200px;
    background: none;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
  }
  form.sidebar-form {
    display: flex;
    max-width: 220px;
    width: auto;
    justify-content: center;
    flex-flow: column wrap;
  }
  form.sidebar-form > label {
    display: block;
  }
  .ip-text {
    font: 400 1rem var(--deffont);
    padding: 8px 20px;
    margin: 0 auto 1.2rem;
    max-width: 220px;
    display: block;
    width: 220px;
  }
  .ip-login {
    color: var(--sub-white);
    background: var(--defcol);
    border: none;
  }
  .ip-login, a.sign-up {
    padding: 8px 20px;
    max-width: 220px;
    font: 400 1rem var(--deffont);
    max-width: 220px;
    width: 220px;
    display: block;
    margin: auto;
  }
div.sign-up-cont {
  background: none;
  text-align: center;
  
}
div.sign-up-cont > p{
  color: #222;
}
a.sign-up {
  text-decoration: none;
  color: var(--defcol);
  background: none;
  border: 1px solid var(--defcol);
}
div.query-div {
  background: none;
  margin-top: 180px;
}
div.query-div > a {
  display: flex;
  align-items: center;
  color: var(--defcol);
  text-decoration: none;
}
.a-label {
  margin-left: 0.4rem;
}
  /* end article/ sidebar */

  section.sec1 {
    grid-area: sec1;
    background: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2rem 0;
  }
  div.intro-div {
    color: var(--f-white);
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    width: 68%;
  }
  
  .intro-h {
    font: 600 3.2rem var(--deffont);
    color: var(--f-white);
    text-shadow: 1px 1px 10px #11111180;
    text-align: left;
    margin: 0 0 1.6rem;
  }
  .intro-p {
    font-size: 1rem;
    color: var(--sub-white);
    padding: 0;
    margin: 0 0 1.6rem;
  }
  a.intro-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 36%;
  font: 400 1rem var(--deffont);
  text-decoration: none;
  padding: 12px 26px;
  background: var(--defcol);
  color: var(--sub-white);
  border: none;
  box-shadow: 2px 2px 10px #11111150;
  }
  .link-txt {
    background: none;
  }
  .mi-arrow {
    background: none;
  }
  footer {
    grid-area: foot;
    background: #00000000;
    padding: 0.6rem 2rem;
  }
  footer, div.contact, div.social-links, div.contact-links {
    display: flex;
    align-items: center;
  }
  div.contact {
    justify-content: space-between;
    width: 100%;
  }
  div.social-links, div.contact-links {
    justify-content: space-between;
  }

  div.social-links > a,
  div.contact-links > a {
    padding: 0.6rem;
    text-decoration: none;
    color: var(--sub-white);
    display: flex;
    align-items: center;
  }
  .fab {
    font-size: 1.4rem;
  }
  .foot-ic {
    margin-right: 0.2rem;
  }
  .contact-links > a {
    font-size: inherit;
  }
  /* flexset 1 end */
@media (max-width: 700px) {

   /* * DEFAULTS... */
   .mic-n {
    font-size: 1.4rem;
  }

    body {
    display: grid;
    grid-template: "head head head" 8vh
    "sec1 sec 1 sec1" 86vh
    "foot foot foot" 8vh / 
    auto auto auto;
    }
    
    header {
        position: relative;
        z-index: 69;
        padding: 0 1.6rem;
        margin-top: 1.6rem;
        background: none;
        box-shadow: none;
      }
      
      div.logo-container {
        min-width: auto;
      }
      aside.sidebar {
        width: 100%;
      }
      div.sidebar-form-cont {
        width: 100%;
      }
      
      section.sec1 {
        width: 100%;
      }
      div.intro-div {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
      }
      .intro-h {
        font-size: 2.8rem;
        text-align: center;
      }
      .intro-p {
        font-size: 0.8rem;
      }
      a.intro-cta {
        margin: auto;
        min-width: 100%;
        padding: 10px 20px;
        justify-content: center;
      }
      footer {
        background: none;
      }  
    }
    /*  Tablets and landscape modes */
    @media screen and (min-width: 556px) and (max-width: 992px) {

      
      a.intro-cta {
        max-width: 50%;
      }
    }